// Fonts
$f_OSregular: 'OpenSansRegular', sans-serif;

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans/OpenSansRegular/OpenSans.eot');
    src: url('../fonts/OpenSans/OpenSansRegular/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans/OpenSansRegular/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSansRegular/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans/OpenSansRegular/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans/OpenSansRegular/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

$caL: 'Calibri Light';
@font-face{
    font-family: 'Calibri Light';
    src: url('../fonts/Calibri-Light.eot');
    src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Light.woff') format('woff'),
    url('../fonts/Calibri-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$caR: 'Calibri Regular';
@font-face {
    font-family: 'Calibri Regular';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$caB: 'Calibri Bold';
@font-face {
    font-family: 'Calibri Bold';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold.woff') format('woff'),
    url('../fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$ptR: 'PTSR';
@font-face {
    font-family: 'PTSR';
    src: url('../fonts/PTS55F.ttf');
    font-weight: normal;
    font-style: normal;
}

$ptB: 'PTSB';
@font-face {
    font-family: 'PTSB';
    src: url('../fonts/PTS75F.ttf');
    font-weight: normal;
    font-style: normal;
}